*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
}
body{
	background-color: rgba(237, 237, 151, 0.175);
}
@font-face {
	font-family: vijay;
	src: url(../fonts/Happy-Dance.ttf);
}
/*----------navbar--------*/
.nav-bg{
	background-color: rgba(221, 208, 208, 0.184);
	box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.398);
}
         
.btn-grad {
	background-image: linear-gradient(to right, #c21500 0%, #ffc500  51%, #c21500  100%);
	margin: 10px;
	padding: 15px 25px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	box-shadow: 0 0 20px #fa680661;
	border-radius: 5px;
	display:block ;
	
  }

  .btn-grad:hover {
	background-position: right center; 
	color: #fff;
	text-decoration: none;
  }
  .navbar-nav{
	font-size: 20px;
	display: flex;

	align-items: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .nav-link{
	color: #090909 !important;
  }
  .nav-link:hover{
	color:  #16f7ff !important;
  }

  



/*----------bannar--------*/
  
.img{
	width: 100%;
	height: 100vh;
	background-image: url(../images/cute-little-girl-drawing-with-paint-paintbrush-home.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
 }
 .bannartxt h1{
	font-family: vijay;
	color: rgb(255, 136, 1);
	font-size: 4rem;
 }
.bannartxt h4{
	color: #ffffff;
	font-size: 1.6rem;
}
.bannartxt p{
	color: #ffffff;
	font-size: 18px;
}
.bannartxt a{
	background-image: linear-gradient(to right, #61c200 0%, #d0ff00  51%, #00c23d  100%);
	margin: 10px;
	padding: 15px 25px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	box-shadow: 0 0 20px #fa680661;
	border-radius: 5px;
	display: inline-block;
}
.bannartxt a:hover{
	background-position: right center; 
	color: #fff;
	text-decoration: none;
}





/*----------about cards--------*/
.section-title .title {
	font-size: 2.4rem;
	line-height: 1.2;
	font-family: vijay;
	color: rgb(255, 123, 0);
	margin-bottom: 20px;
	
}
.section-title p{
	font-size: 21px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mainimg img{
	width: 450px;
	height: 335px;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.maintxt{
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.maintxt h1{
	font-family: vijay;
	color: rgb(255, 93, 12);
	font-size: 2rem;
}
.maintxt a{
	background-image: linear-gradient(to right, #c21500 0%, #ffc500  51%, #c21500  100%);
	margin: 10px;
	padding: 15px 25px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	box-shadow: 0 0 20px #fa680661;
	border-radius: 5px;
	display: inline-block;	
}
.maintxt a:hover{
	background-position: right center; 
	color: #fff;
	text-decoration: none;
}
.feature-item {
	padding: 35px 15px;
	box-shadow: 0px 0px 10px 0px rgba(136, 136, 136, 0.1);
	transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.feature-item:hover, .class-item:hover {
	transform: translateY(-5px);

}
.feature-item .feature-shape {
	width: 100px;
	height: 100px;
	display: inline-block;
	line-height: 100px;
	margin-bottom: 38px;
	border-radius: 50%;
	background-image: linear-gradient( 145deg, rgb(35,204,136) 0%, rgb(142,207,53) 100%);
	box-shadow: 0px 18px 30px 0px rgba(38, 204, 133, 0.36);
}
.feature-item .feature-shape-2 {
	background-image: linear-gradient( 145deg, rgb(255,79,88) 0%, rgb(255,180,0) 100%);
	box-shadow: 0px 18px 24px 0px rgba(255, 114, 58, 0.36);
}
.feature-item .feature-shape-3 {
	background-image: linear-gradient( 145deg, rgb(1,203,173) 0%, rgb(71,161,242) 100%);
	box-shadow: 0px 18px 24px 0px rgba(1, 203, 173, 0.36);
}
.feature-item .feature-shape-4 {
	background-image: linear-gradient( 145deg, rgb(232,90,202) 0%, rgb(252,78,101) 100%);
	box-shadow: 0px 18px 24px 0px rgba(233, 89, 197, 0.36);
}
.feature-content .feature-title h3 {
	position: relative;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	margin-bottom: 50px;
	line-height: 36px;
	color: #00394f;
}


.feature-content p {
	margin: 0;
	font-size: 16px;
	color: #555555;
	padding: 0px 8px;
}



/*----------ntg------
.card-title {
font-family: vijay;
color: rgb(255, 153, 0);
}
.card-text{
	font-size: 18px;
	font-family: sans-serif;

}
.card{
	box-shadow: rgba(22, 22, 22, 0.2) 0px 7px 29px 0px;
}
.crdimg{
	transition: all 3s ease-in-out;
	cursor: pointer;
}
.crdimg:hover{
	transition: all 2s ease-in;
}--*/







/*----------gallary--------*/
.glry {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
  }
  

  .column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
  }
  
  .column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
  }
  
  /* Responsive */
  @media screen and (max-width: 800px) {
	.column {
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  /* Responsive  */
  @media screen and (max-width: 600px) {
	.column {
	  flex: 100%;
	  max-width: 100%;
	}
  }









/*----------services classes--------*/


  article {
	--img-scale: 1.001;
	--title-color: black;
	--link-icon-translate: -20px;
	--link-icon-opacity: 0;
	position: relative;
	border-radius: 16px;
	box-shadow: none;
	background: #fff;
	transform-origin: center;
	transition: all 0.4s ease-in-out;
	overflow: hidden;
  }
  
  article a::after {
	position: absolute;
	inset-block: 0;
	inset-inline: 0;
	cursor: pointer;
	content: "";
  }
  
  
  article h2 {
	margin: 0 0 18px 0;
	font-family: "Bebas Neue", cursive;
	font-size: 1.9rem;
	letter-spacing: 0.06em;
	color: var(--title-color);
	transition: color 0.3s ease-out;
  }
  
  figure {
	margin: 0;
	padding: 0;
	aspect-ratio: 16 / 9;
	overflow: hidden;
  }
  
  article img {
	max-width: 100%;
	transform-origin: center;
	transform: scale(var(--img-scale));
	transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
	padding: 24px;
  }
  
  article a {
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	color: #28666e;
  }
  
  article a:focus {
	outline: 1px dotted #28666e;
  }
  
  article a .icon {
	min-width: 24px;
	width: 24px;
	height: 24px;
	margin-left: 5px;
	transform: translateX(var(--link-icon-translate));
	opacity: var(--link-icon-opacity);
	transition: all 0.3s;
  }
  
 
  article:has(:hover, :focus) {
	--img-scale: 1.1;
	--title-color: #28666e;
	--link-icon-translate: 0;
	--link-icon-opacity: 1;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  

  
  *,
  *::before,
  *::after {
	box-sizing: border-box;
  }
  
  section {
	margin: 0;
	padding: 48px 0;
	font-family: "Figtree", sans-serif;
	font-size: 1.2rem;
	line-height: 1.6rem;
	
	min-height: 100vh;
  }
  
  .articles {
	display: grid;
	max-width: 1200px;
	margin-inline: auto;
	
	padding-inline: 24px;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	gap: 24px;
  }
  
  @media screen and (max-width: 960px) {
	article {
	  container: card/inline-size;
	}
	.article-body p {
	  display: none;
	}
  }
  
  @container card (min-width: 380px) {
	.article-wrapper {
	  display: grid;
	  grid-template-columns: 100px 1fr;
	  gap: 16px;
	}
	.article-body {
	  padding-left: 0;
	}
	figure {
	  width: 100%;
	  height: 100%;
	  overflow: hidden;
	}
	figure img {
	  height: 100%;
	  aspect-ratio: 1;
	  object-fit: cover;
	}
  }
  
  .sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
  }




/*----------footer--------*/

.ftrrow{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}
.footer{
	background-color: rgba(52, 52, 48, 0.035);
    padding: 70px 0;
	max-width: 1300px;
	display: block;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: orangered;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #141313;
	text-decoration: none;
	font-weight: 300;
	font-weight: 500;
	color: #000000;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #0e0e0e;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.518)(.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ff0202;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #121315;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.formimg{
	background-image: url(../images/84768431.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img1{
	width: 100%;
	height: 50vh;
	background-image: url(../images/cute-little-girl-drawing-with-paint-paintbrush-home.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}
.abbtxt{
	font-size: 2.6rem;
	font-family: vijay;
	color: rgb(255, 255, 255);
}




/*----------the end--------*/
